/*==============================================
    Services One
===============================================*/
.services-one {
  position: relative;
  display: block;
  background-color: var(--careon-extra);
  padding: 0 0 90px;
  z-index: 1;
}

.services-one__left {
  position: relative;
  display: block;
  margin-top: 240px;
}

.services-one__left .section-title {
  margin-bottom: 30px;
}

.services-one__btn-box {
  position: relative;
  display: block;
  margin-top: 30px;
}

.services-one__btn-box .thm-btn {
  background-color: var(--careon-white);
  border: 1px solid var(--careon-base);
  color: var(--careon-base);
}

.services-one__right {
  position: relative;
  display: block;
  margin-left: 30px;
}
.services-one__right .scene {
  perspective: 1000px;
}

.services-one__right .card {
  width: 100%;
  height: 280px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  background-color: var(--careon-white);
  border-radius: var(--careon-bdr-radius);
  margin-bottom: 30px;
}

.services-one__right .scene:hover .card {
  transform: rotateY(180deg);
}

.services-one__right .card-face {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  backface-visibility: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.services-one__right .card-face img {
  height: 280px;
  border-radius: 16px;
  object-fit: cover;
}
.services-one__right .card-front {
  background: var(--careon-white);
}

.services-one__right .card-back {
  background: var(--careon-white);
  padding: 30px 30px 27px;
  transform: rotateY(180deg);
}

.services-one__img {
  position: relative;
  width: 100%;
}

.services-one__img img {
  width: 100%;
}

.services-one__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 0px 0 14px;
}

.services-one__title a {
  color: var(--careon-black);
}

.services-one__title a:hover {
  color: var(--careon-base);
}

.services-one__read-more {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--careon-black);
  margin-top: 31px;
}

.services-one__read-more:hover {
  color: var(--careon-base);
}

.services-one__right ul li:first-child {
  margin-top: 80px;
}

.services-one__right ul li:last-child {
  margin-top: -80px;
}
.all-services .services-one__right ul li:first-child,
.services-one__right ul li:last-child {
  margin-top: 0;
}
/******************************************/

/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/
.service-details {
  position: relative;
  display: block;
  padding: 120px 0 113px;
  z-index: 1;
}

.service-details__left {
  position: relative;
  display: block;
}

.service-details__img {
  position: relative;
  display: block;
}

.service-details__img img {
  width: 100%;
  border-radius: var(--careon-bdr-radius);
}

.service-details__content {
  position: relative;
  display: block;
  margin-top: 27px;
}

.service-details__title-1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.service-details__text-1 {
  margin: 19px 0 20px;
}

.service-details__title-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0px;
  color: var(--careon-secondary);
}

.service-details__points-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.service-details__points-list {
  position: relative;
  display: block;
}

.service-details__points-list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-details__points-list li + li {
  margin-top: 15px;
}

.service-details__points-list li .icon {
  position: relative;
  display: inline-block;
}

.service-details__points-list li .icon span {
  position: relative;
  display: inline-block;
  font-size: 11px;
  color: var(--careon-primary);
}

.service-details__text-3 {
  margin: 20px 0 33px;
}

.service-details__title-3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: var(--careon-secondary);
  margin-top: 25px;
}

.service-details__text-4 {
  margin: 15px 0 0;
}

.service-details__img-box {
  position: relative;
  display: block;
}

.service-details__img-box-img {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.service-details__img-box-img img {
  width: 100%;
  border-radius: var(--careon-bdr-radius);
  height: 225px;
  object-fit: cover;
}

.service-details__text-list {
  position: relative;
  display: block;
}

.service-details__text-list li {
  position: relative;
  display: block;
}

.service-details__text-list li + li {
  margin-top: 17px;
}

.service-details__right {
  position: relative;
  display: block;
}

.service-details__services-box {
  position: relative;
  display: block;
  border: 2px solid var(--careon-bdr-color);
  border-radius: var(--careon-bdr-radius);
  padding: 39px 39px 39px;
}

.service-details__service-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 30px;
  color: var(--careon-secondary);
}

.service-details__service-list {
  position: relative;
  display: block;
}

.service-details__service-list li {
  position: relative;
  display: block;
}

.service-details__service-list li + li {
  margin-top: 20px;
}

.service-details__service-list li a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--careon-gray);
  background-color: var(--careon-extra);
  border: 1px solid transparent;
  padding: 15px 30px 15px;
  border-radius: 30px;
}

.service-details__service-list li:hover a {
  border: 1px solid var(--careon-base);
  background-color: var(--careon-base);
  color: var(--careon-white);
}

.service-details__service-list li.active a {
  border: 1px solid var(--careon-base);
  background-color: var(--careon-base);
  color: var(--careon-white);
}

.service-details__service-list li a span {
  position: relative;
  font-size: 11px;
  color: var(--careon-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.service-details__service-list li:hover a span {
  color: var(--careon-white);
}

.service-details__service-list li.active a span {
  color: var(--careon-white);
}

.service-details__need-help-inner {
  position: relative;
  display: block;
  border: 2px solid var(--careon-bdr-color);
  border-radius: var(--careon-bdr-radius);
  padding: 18px;
  margin-top: 40px;
}

.service-details__need-help {
  position: relative;
  display: block;
  border-radius: var(--careon-bdr-radius);
  text-align: center;
  padding: 82px 50px 82px;
  z-index: 1;
}

.service-details__need-help-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--careon-bdr-radius);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.service-details__need-help-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--careon-bdr-radius);
  background-color: rgb(255 192 203 / 40%);
  backdrop-filter: blur(2px);
}

.service-details__need-help-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: var(--careon-white);
}

.service-details__need-help-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  background-color: var(--careon-primary);
  border-radius: 50%;
  margin: 26px auto 20px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.service-details__need-help-icon:hover {
  background-color: var(--careon-base);
}

.service-details__need-help-icon span {
  position: relative;
  display: inline-block;
  font-size: 32px;
  color: var(--careon-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.service-details__need-help-icon:hover span {
  color: var(--careon-white);
}

.service-details__need-help-call {
  position: relative;
  display: block;
}

.service-details__need-help-call a {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: var(--careon-white);
}

.service-details__need-help-call a:hover {
  color: var(--careon-black);
}

.service-details__download-box {
  position: relative;
  display: block;
  border: 2px solid var(--careon-bdr-color);
  border-radius: var(--careon-bdr-radius);
  padding: 38px 38px 38px;
  margin-top: 40px;
}

.service-details__download-list {
  position: relative;
  display: block;
}

.service-details__download-list li {
  position: relative;
  display: block;
}

.service-details__download-list li + li {
  margin-top: 20px;
}

.service-details__download-list li a {
  position: relative;
  background-color: var(--careon-extra);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: var(--careon-gray);
  padding: 18px 30px 18px;
  padding-left: 75px;
  border-radius: var(--careon-bdr-radius);
  overflow: hidden;
  z-index: 1;
}

.service-details__download-list li:hover a {
  color: var(--careon-white);
}

.service-details__download-list li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--careon-base);
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  transform-origin: bottom right;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  z-index: -1;
}

.service-details__download-list li:hover a::before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transform-origin: top center;
}

.service-details__download-list li a span {
  font-size: 16px;
  font-weight: 400;
  color: var(--careon-gray);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.service-details__download-list li:hover a span {
  color: var(--careon-white);
}

/*--------------------------------------------------------------
# Services Page
--------------------------------------------------------------*/
.services-page {
  position: relative;
  display: block;
  padding: 120px 0 30px;
  z-index: 1;
}

.services-page .services-two__single {
  margin-bottom: 30px;
  margin-top: 32px;
}

.services-page .services-two__single-list li {
  border-bottom: 1px solid var(--careon-bdr-color);
}

.services-page
  .services-two__inner
  ul
  li:nth-child(4)
  .services-two__single::before {
  display: none;
}

.services-page
  .services-two__inner
  ul
  li:nth-child(7)
  .services-two__single::before {
  display: none;
}

.services-page .services-two__inner ul li:nth-child(7) {
  border-bottom: none;
}

.services-page .services-two__inner ul li:nth-child(8) {
  border-bottom: none;
}

.services-page .services-two__inner ul li:nth-child(9) {
  border-bottom: none;
}

.services-page .services-two__inner ul li:nth-child(1) .services-two__single {
  margin-top: 0px;
}

.services-page .services-two__inner ul li:nth-child(2) .services-two__single {
  margin-top: 0px;
}

.services-page .services-two__inner ul li:nth-child(3) .services-two__single {
  margin-top: 0px;
}

/*--------------------------------------------------------------
# Services Carousel Page
--------------------------------------------------------------*/
.services-carousel-page {
  position: relative;
  display: block;
  padding: 120px 0 170px;
}

.services-carousel-page .services-three__single {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/
